force-app/main/default/flows/TestNewFlowCommunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getNewsData</name>
        <label>getNewsData</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>calloutNewsAPIExt.getNewsData1</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>assign2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>newsSearchTerm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortBy</name>
            <value>
                <stringValue>popularity</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getWeatherData1</name>
        <label>getWeatherData1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>callOutWeatherAPI.weatherData</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>getNewsData</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>locationsearchterm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>aqi</name>
            <value>
                <stringValue>no</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>addtoList</name>
        <label>addtoList</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>flatNewsArticleDataList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>flatNewsArticle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>breakMaxLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign2</name>
        <label>assign2</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>flatWeatherData.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWeatherData1.2XX.location.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatWeatherData.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWeatherData1.2XX.location.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatWeatherData.temp_c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWeatherData1.2XX.current.tempx5fc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatWeatherData.text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWeatherData1.2XX.current.condition.text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatWeatherData.wind_kph</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWeatherData1.2XX.current.windx5fkph</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatWeatherData.vis_km</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWeatherData1.2XX.current.visx5fkm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatWeatherData.humidity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWeatherData1.2XX.current.humidity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatWeatherData.precip_mm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWeatherData1.2XX.current.precipx5fmm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatWeatherData.uv</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWeatherData1.2XX.current.uv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extArticle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getNewsData.2XX.articles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAricleData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values</name>
        <label>assign values</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auraAskLocation.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auraAskLocation.longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkforNullVals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNews</name>
        <label>assignNews</label>
        <locationX>226</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>flatNewsArticle.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAricleData.title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatNewsArticle.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAricleData.source.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatNewsArticle.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAricleData.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatNewsArticle.publishedAt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAricleData.publishedAt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatNewsArticle.url</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAricleData.url</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatNewsArticle.urlToImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAricleData.urlToImage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatNewsArticle.content</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAricleData.content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flatNewsArticle.author</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAricleData.author</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtoList</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>maxNewsResult</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>breakMaxLoop</name>
        <label>breakMaxLoop</label>
        <locationX>226</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayLWCRo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>breakLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>maxNewsResult</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopAricleData</targetReference>
            </connector>
            <label>continueLoop</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkforNullVals</name>
        <label>checkforNullVals</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetLocationAuraScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>goAhead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>longitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWeatherData1</targetReference>
            </connector>
            <label>goAhead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>locationsearchterm</name>
        <dataType>String</dataType>
        <expression> IF(ISBLANK({!cityname}),{!latitude}&amp;&apos;,&apos;&amp;{!longitude},{!cityname})</expression>
    </formulas>
    <formulas>
        <name>newsSearchTerm</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!getWeatherData1.2XX.location.country}),{!getWeatherData1.2XX.location.name},{!getWeatherData1.2XX.location.name}&amp;&apos;, &apos;&amp;{!getWeatherData1.2XX.location.country})</expression>
    </formulas>
    <interviewLabel>TestNewFlowCommunity {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>TestNewFlowCommunity</label>
    <loops>
        <name>loopAricleData</name>
        <label>loopAricleData</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>extArticle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignNews</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DisplayLWCRo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DisplayLWCRo</name>
        <label>DisplayLWCRo</label>
        <locationX>50</locationX>
        <locationY>1448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayInfo</name>
            <extensionName>c:locationLwcRO</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>longitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>weatherData</name>
                <value>
                    <elementReference>flatWeatherData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newsDataList</name>
                <value>
                    <elementReference>flatNewsArticleDataList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GetLocationAuraScreen</name>
        <label>GetLocationAuraScreen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_values</targetReference>
        </connector>
        <fields>
            <name>auraAskLocation</name>
            <extensionName>c:locationAura</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLocationAuraScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cityname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>extArticle</name>
        <apexClass>ExternalService__calloutNewsAPIExt_getNewsData1_OUT_2XX_articles</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flatNewsArticle</name>
        <apexClass>NewsData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flatNewsArticleDataList</name>
        <apexClass>NewsData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flatWeatherData</name>
        <apexClass>WeatherData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
